/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

iframe {
  border: 0px;
  border-color: white;
}
p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#title {
  position: relative;
  top: 40px;
}

.brand-logo {
  margin-top:10px;
}

.modal { 
  width: 30%;
} 

.carousel {
  position: relative;
  bottom: 200px;

}

.circle {
  border:5px solid white; 
}

.sidepic {
  width: 100%;
}

.logomain {
  width: 130px;
}

.btn-large {
  margin: 10px;
}